In [3]:
import pandas as pd

In [4]:
#read one file 
df = pd.read_csv('SSN_Data/AK.TXT', names=['State', 'Gender', 'Year', 'Name', 'Count'])
df.head()

  State Gender  Year      Name  Count
0    AK      F  1910      Mary     14
1    AK      F  1910     Annie     12
2    AK      F  1910      Anna     10
3    AK      F  1910  Margaret      8
4    AK      F  1910     Helen      7

In [5]:
#I created a different dataframe with subset of the "df" dataframe
baby_name_F_70 = df[(df.Year >= 1970) & (df.Year <= 1979) & (df.Gender =="F")]

In [6]:
#this new dataframe is helping me figure out if the count for the below dataframe is correct. By checking the number of
#counts for each name within the years of 1970 - 1979
#specific_name = df[(df.Year >= 1970) & (df.Year <= 1979) & (df.Name =="Jennifer")]
#specific_name

In [7]:
#grouped by "Name", "State and Gender"
count_name = baby_name_F_70.groupby(["Name","State", "Gender"])
count_name

In [8]:
#Sum of the amount of times a name was chosen in the state of AK
total_count_of_name = count_name.sum()["Count"]
#total_count_of_name

In [9]:
#Created a new dataframe with the group by of "Name" and "State" and aggregated by SUM. I also added a sort
#by ["Count"] and ordered it by descending
total_count_of_names_df = pd.DataFrame(total_count_of_name).sort_values(by=["Count"], ascending=False).rename(columns={"Name":"Name", "State": "State", "Count":"Total"})
                                                                                                        
total_count_of_names_df.head(10)

                       Total
Name     State Gender
Jennifer AK    F        1216
Heather  AK    F         563
Michelle AK    F         534
Angela   AK    F         435
Amy      AK    F         428
Melissa  AK    F         414
Kimberly AK    F         406
Lisa     AK    F         390
Sarah    AK    F         375
Jessica  AK    F         365

In [10]:
#I'm doing the same steps for the Male names 
baby_name_M_70 = df[(df.Year >= 1970) & (df.Year <= 1979) & (df.Gender =="M")]
#baby_name_M_70.head(10)

In [11]:
#baby_name_F_70 = df[(df.Year >= 1970) & (df.Year <= 1979) & (df.Gender =="M")]
#baby_name_F_70.head()

In [12]:
count_name_m = baby_name_M_70.groupby(["Name", "State", "Gender"])

total_count_name_m = count_name_m.sum()["Count"]
total_count_name_m

Name       State  Gender
Aaron      AK     M         396
Adam       AK     M         196
Adrian     AK     M          19
Alan       AK     M          69
Albert     AK     M          42
Alexander  AK     M          55
Alfred     AK     M          25
Allan      AK     M           5
Allen      AK     M          50
Alvin      AK     M           6
Andrew     AK     M         323
Andy       AK     M           5
Anthony    AK     M         314
Arnold     AK     M          10
Arthur     AK     M          75
Austin     AK     M           5
Barry      AK     M           5
Ben        AK     M           5
Benjamin   AK     M         268
Bernard    AK     M           5
Billy      AK     M          49
Bobby      AK     M          23
Brad       AK     M          13
Bradley    AK     M          51
Brandon    AK     M         138
Brent      AK     M          78
Brett      AK     M          59
Brian      AK     M         657
Bruce      AK     M          61
Bryan      AK     M         150
                           ...
Stewart    AK     M           5
Terrance   AK     M           6
Terrence   AK     M           5
Terry      AK     M          63
Theodore   AK     M          54
Thomas     AK     M         435
Timothy    AK     M         372
Toby       AK     M          10
Todd       AK     M         144
Tom        AK     M           5
Tommy      AK     M          18
Tony       AK     M          40
Tracy      AK     M           7
Travis     AK     M         256
Trenton    AK     M           7
Trevor     AK     M          24
Troy       AK     M         131
Tyler      AK     M          38
Vernon     AK     M          18
Victor     AK     M          31
Vincent    AK     M          46
Wade       AK     M          36
Walter     AK     M          94
Warren     AK     M          34
Wayne      AK     M          58
Wesley     AK     M          63
William    AK     M         675
Willie     AK     M          18
Wilson     AK     M           5
Zachary    AK     M          78
Name: Count, Length: 276, dtype: int64

In [13]:
total_count_of_names_m_df = pd.DataFrame(total_count_name_m).sort_values(by=["Count"], ascending=False).rename(columns={"Name":"Name", "State":"State", "Count":"Total"})
                                                                                                        
total_count_of_names_m_df.head(10)

                          Total
Name        State Gender
Michael     AK    M        1435
Jason       AK    M        1089
Christopher AK    M        1009
David       AK    M        1001
John        AK    M         971
James       AK    M         936
Robert      AK    M         929
William     AK    M         675
Brian       AK    M         657
Matthew     AK    M         618

In [14]:
#This dataframe is combining the top 10 of male and female names.
Male_female_name_count_1970s = pd.concat([total_count_of_names_df.head(10), total_count_of_names_m_df.head(10)])
Male_female_name_count_1970s

                          Total
Name        State Gender
Jennifer    AK    F        1216
Heather     AK    F         563
Michelle    AK    F         534
Angela      AK    F         435
Amy         AK    F         428
Melissa     AK    F         414
Kimberly    AK    F         406
Lisa        AK    F         390
Sarah       AK    F         375
Jessica     AK    F         365
Michael     AK    M        1435
Jason       AK    M        1089
Christopher AK    M        1009
David       AK    M        1001
John        AK    M         971
James       AK    M         936
Robert      AK    M         929
William     AK    M         675
Brian       AK    M         657
Matthew     AK    M         618

In [18]:
import folium

In [22]:
df = pd.read_excel('Latitude Longitude for each state.xlsx')
df

                   State State Abbreviations   Latitude   Longitude
0                Alabama                  AL  32.806671  -86.791130
1                 Alaska                  AK  61.370716 -152.404419
2                Arizona                  AZ  33.729759 -111.431221
3               Arkansas                  AR  34.969704  -92.373123
4             California                  CA  36.116203 -119.681564
5               Colorado                  CO  39.059811 -105.311104
6            Connecticut                  CT  41.597782  -72.755371
7               Delaware                  DE  39.318523  -75.507141
8   District of Columbia                  DC  38.897438  -77.026817
9                Florida                  FL  27.766279  -81.686783
10               Georgia                  GA  33.040619  -83.643074
11                Hawaii                  HI  21.094318 -157.498337
12                 Idaho                  ID  44.240459 -114.478828
13              Illinois                  IL  40.349457  -88.986137
14               Indiana                  IN  39.849426  -86.258278
15                  Iowa                  IA  42.011539  -93.210526
16                Kansas                  KS  38.526600  -96.726486
17              Kentucky                  KY  37.668140  -84.670067
18             Louisiana                  LA  31.169546  -91.867805
19                 Maine                  ME  44.693947  -69.381927
20              Maryland                  MD  39.063946  -76.802101
21         Massachusetts                  MA  42.230171  -71.530106
22              Michigan                  MI  43.326618  -84.536095
23             Minnesota                  MN  45.694454  -93.900192
24           Mississippi                  MS  32.741646  -89.678696
25              Missouri                  MO  38.456085  -92.288368
26               Montana                  MT  46.921925 -110.454353
27              Nebraska                  NE  41.125370  -98.268082
28                Nevada                  NV  38.313515 -117.055374
29         New Hampshire                  NH  43.452492  -71.563896
30            New Jersey                  NJ  40.298904  -74.521011
31            New Mexico                  NM  34.840515 -106.248482
32              New York                  NY  42.165726  -74.948051
33        North Carolina                  NC  35.630066  -79.806419
34          North Dakota                  ND  47.528912  -99.784012
35                  Ohio                  OH  40.388783  -82.764915
36              Oklahoma                  OK  35.565342  -96.928917
37                Oregon                  OR  44.572021 -122.070938
38          Pennsylvania                  PA  40.590752  -77.209755
39          Rhode Island                  RI  41.680893  -71.511780
40        South Carolina                  SC  33.856892  -80.945007
41          South Dakota                  SD  44.299782  -99.438828
42             Tennessee                  TN  35.747845  -86.692345
43                 Texas                  TX  31.054487  -97.563461
44                  Utah                  UT  40.150032 -111.862434
45               Vermont                  VT  44.045876  -72.710686
46              Virginia                  VA  37.769337  -78.169968
47            Washington                  WA  47.400902 -121.490494
48         West Virginia                  WV  38.491226  -80.954453
49             Wisconsin                  WI  44.268543  -89.616508
50               Wyoming                  WY  42.755966 -107.302490

In [20]:
html = Male_female_name_count_1970s.to_html(classes='table table-striped table-hover table-condensed table-responsive')
popup = folium.Popup(html)

In [21]:
m = folium.Map(location=[40, -102], tiles='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', attr='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors', zoom_start="3.0")

#Generate Marker

tooltip = "Click me!"

folium.Marker([32.806671,-86.79113], popup=popup, tooltip=tooltip).add_to(m)
folium.Marker([61.370716,-152.404419]).add_to(m)
folium.Marker([33.729759,-111.431221]).add_to(m)
folium.Marker([34.969704,-92.373123]).add_to(m)
folium.Marker([36.116203,-119.681564]).add_to(m)
folium.Marker([39.059811,-105.311104]).add_to(m)
folium.Marker([41.597782,-72.755371]).add_to(m)
folium.Marker([39.318523,-75.507141]).add_to(m)
folium.Marker([38.897438,-77.026817]).add_to(m)
folium.Marker([27.766279,-81.686783]).add_to(m)
folium.Marker([33.040619,-83.643074]).add_to(m)
folium.Marker([21.094318,-157.498337]).add_to(m)
folium.Marker([44.240459,-114.478828]).add_to(m)
folium.Marker([40.349457,-88.986137]).add_to(m)
folium.Marker([39.849426,-86.258278]).add_to(m)
folium.Marker([42.011539,-93.210526]).add_to(m)
folium.Marker([38.5266,-96.726486]).add_to(m)
folium.Marker([37.66814,-84.670067]).add_to(m)
folium.Marker([31.169546,-91.867805]).add_to(m)
folium.Marker([44.693947,-69.381927]).add_to(m)
folium.Marker([39.063946,-76.802101]).add_to(m)
folium.Marker([42.230171,-71.530106]).add_to(m)
folium.Marker([43.326618,-84.536095]).add_to(m)
folium.Marker([45.694454,-93.900192]).add_to(m)
folium.Marker([32.741646,-89.678696]).add_to(m)
folium.Marker([38.456085,-92.288368]).add_to(m)
folium.Marker([46.921925,-110.454353]).add_to(m)
folium.Marker([41.12537,-98.268082]).add_to(m)
folium.Marker([38.313515,-117.055374]).add_to(m)
folium.Marker([43.452492,-71.563896]).add_to(m)
folium.Marker([40.298904,-74.521011]).add_to(m)
folium.Marker([34.840515,-106.248482]).add_to(m)
folium.Marker([42.165726,-74.948051]).add_to(m)
folium.Marker([35.630066,-79.806419]).add_to(m)
folium.Marker([47.528912,-99.784012]).add_to(m)
folium.Marker([40.388783,-82.764915]).add_to(m)
folium.Marker([35.565342,-96.928917]).add_to(m)
folium.Marker([44.572021,-122.070938]).add_to(m)
folium.Marker([40.590752,-77.209755]).add_to(m)
folium.Marker([41.680893,-71.51178]).add_to(m)
folium.Marker([33.856892,-80.945007]).add_to(m)
folium.Marker([44.299782,-99.438828]).add_to(m)
folium.Marker([35.747845,-86.692345]).add_to(m)
folium.Marker([31.054487,-97.563461]).add_to(m)
folium.Marker([40.150032,-111.862434]).add_to(m)
folium.Marker([44.045876,-72.710686]).add_to(m)
folium.Marker([37.769337,-78.169968]).add_to(m)
folium.Marker([47.400902,-121.490494]).add_to(m)
folium.Marker([38.491226,-80.954453]).add_to(m)
folium.Marker([44.268543,-89.616508]).add_to(m)
folium.Marker([42.755966,-107.30249]).add_to(m)



m