In [1]:
import pandas as pd
import sys

#create a dataframe of state classification by election year (D/R) - source wikipedia
States_df = pd.DataFrame()
States_df = pd.read_csv('blueRedStates.csv',encoding='ISO-8859-1')
States_df.head(10)

,state_Name,state,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,R/D No change
0,Alabama,AL,R,D,R,R,R,R,R,R,R,R,R,R,True
1,Alaska,AK,R,R,R,R,R,R,R,R,R,R,R,R,True
2,Arizona,AZ,R,R,R,R,R,R,D,R,R,R,R,R,True
3,Arkansas,AR,R,D,R,R,R,D,D,R,R,R,R,R,True
4,California,CA,R,R,R,R,R,D,D,D,D,D,D,D,True
5,Colorado,CO,R,R,R,R,R,D,R,R,R,D,D,D,True
6,Connecticut,CT,R,R,R,R,R,D,D,D,D,D,D,D,True
7,Delaware,DE,R,D,R,R,R,D,D,D,D,D,D,D,True
8,District of Columbia,DC,D,D,D,D,D,D,D,D,D,D,D,D,True
9,Florida,FL,R,D,R,R,R,R,D,R,R,D,D,R,False

In [2]:
#trim df to exclude irrelevant data, by dropping columns
States_df=States_df.drop(States_df.columns[[2,3,4,5,6,7,8,9,10,11]],axis=1)
States_df.head()

    state_Name state 2012 2016  R/D No change
0      Alabama    AL    R    R           True
1       Alaska    AK    R    R           True
2      Arizona    AZ    R    R           True
3     Arkansas    AR    R    R           True
4   California    CA    D    D           True

In [3]:
import numpy as np

#create a list of states groupedby red(R) and blue(D) for 2012 and 2016 eleciton years
# set up lists and append state names based on the R or D vote
red2012=[]
red2012=States_df.loc[States_df["2012"]=='R','state'].tolist()
red2012

['AL',
 'AK',
 'AZ',
 'AR',
 'GA',
 'ID',
 'IN',
 'KS',
 'KY',
 'LA',
 'MS',
 'MO',
 'MT',
 'NE',
 'NC',
 'ND',
 'OK',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'WV',
 'WY']

In [4]:
blue2012=[]
blue2012=States_df.loc[States_df["2012"]=='D','state'].tolist()
blue2012

['CA',
 'CO',
 'CT',
 'DE',
 'DC',
 'FL',
 'HI',
 'IL',
 'IA',
 'ME',
 'MD',
 'MA',
 'MI',
 'MN',
 'NV',
 'NH',
 'NJ',
 'NM',
 'NY',
 'OH',
 'OR',
 'PA',
 'RI',
 'VT',
 'VA',
 'WA',
 'WI']

In [5]:
red2016=[]
red2016=States_df.loc[States_df["2016"]=='R','state'].tolist()
red2016

['AL',
 'AK',
 'AZ',
 'AR',
 'FL',
 'GA',
 'ID',
 'IN',
 'IA',
 'KS',
 'KY',
 'LA',
 'MI',
 'MS',
 'MO',
 'MT',
 'NC',
 'ND',
 'OH',
 'OK',
 'PA',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'WV',
 'WI',
 'WY']

In [6]:
blue2016=[]
blue2016=States_df.loc[States_df["2016"]=='D','state'].tolist()
blue2016

['CA',
 'CO',
 'CT',
 'DE',
 'DC',
 'HI',
 'IL',
 'ME',
 'MD',
 'MA',
 'MN',
 'NE',
 'NV',
 'NH',
 'NJ',
 'NM',
 'NY',
 'OR',
 'RI',
 'VT',
 'VA',
 'WA']